IIS-ApplicationDevelopment
IIS-ApplicationInit
IIS-ASP
IIS-ASPNET
IIS-ASPNET45
IIS-CertProvider
IIS-CGI
IIS-ClientCertificateMappingAuthentication
IIS-CommonHttpFeatures
IIS-CustomLogging
IIS-DefaultDocument
IIS-DigestAuthentication
IIS-DirectoryBrowsing
IIS-HealthAndDiagnostics
IIS-HttpCompressionDynamic
IIS-HttpErrors
IIS-HttpLogging
IIS-HttpRedirect
IIS-HttpTracing
IIS-IIS6ManagementCompatibility
IIS-IISCertificateMappingAuthentication
IIS-IPSecurity
IIS-ISAPIExtensions
IIS-ISAPIFilter
IIS-LoggingLibraries
IIS-ManagementConsole
IIS-ManagementScriptingTools
IIS-ManagementService
IIS-Metabase
IIS-NetFxExtensibility
IIS-NetFxExtensibility45
IIS-ODBCLogging
IIS-Performance
IIS-RequestFiltering
IIS-RequestMonitor
IIS-Security
IIS-ServerSideIncludes
IIS-StaticContent
IIS-URLAuthorization
IIS-WebDAV
IIS-WebServer
IIS-WebServerManagementTools
IIS-WebServerRole
IIS-WebSockets
IIS-WindowsAuthentication
NetFx3