7Zip
ACDSee
Atom
Atom-Personal
BFGRepoCleaner.extension
BoxStarter
BoxStarter.BootStrapper
BoxStarter.Chocolatey
BoxStarter.Common
BoxStarter.HyperV
BoxStarter.WinConfig
BoxStarter-Personal
CCleaner-Professional
Chocolatey
Chocolatey.extension
Chocolatey-Core.extension
Chocolatey-Personal
Chocolatey-WindowsUpdate.extension
ConEmu
ConEmu-Personal
DisplayFusion
DisplayFusion-Personal
Docker
Dropbox
EditPadPro
Evernote
Evernote-Personal
Flux
Flux-Personal
Git
GitKraken
GitKraken-Personal
GitLfs
Google-Chrome
Google-Chrome-Personal
JetBrains-DataGrip
JetBrains-DataGrip-Personal
JetBrains-WebStorm
JetBrains-WebStorm-Personal
JRE
K-LiteCodecPack
K-LiteCodecPack-Personal
Launchy
Launchy-Personal
Logfusion
Logfusion-Personal
Microsoft-DotNETCore-Runtime
Microsoft-DotNETCore-SDK
Microsoft-VisualCRedistributable2015
Microsoft-VisualStudioCode
Microsoft-VisualStudioCode-Personal
NodeJS
NordVPN
NordVPN-Personal
NuGet-CommandLine
PowerShell-Carbon
PowerShell-CommunityExtensions
PowerShell-Helpers.extension
PowerShell-Profile
PowerShell-PSake
Slack
Slack-Personal
Spotify
Spotify-Personal
TeamViewer
TeamViewer-Personal
WinDirStat
Windows-IIS
Windows-IIS-ExternalCache
Windows-IIS-Personal
Windows-IIS-UrlRewrite
XYPlorer
XYPlorer-Personal
Zoom