Chocolatey-Personal
BoxStarter-Personal
7Zip
ACDSee
Atom-Personal
BFGRepoCleaner.extension
CCleaner-Professional
ConEmu-Personal
DisplayFusion-Personal
Docker
Dropbox
EditPadPro
Evernote-Personal
Flux-Personal
GitKraken-Personal
Google-Chrome-Personal
JetBrains-DataGrip-Personal
JetBrains-WebStorm-Personal
K-LiteCodecPack-Personal
Launchy-Personal
Logfusion-Personal
Microsoft-DotNETCore-Runtime
Microsoft-DotNETCore-SDK
Microsoft-VisualStudioCode-Personal
NodeJS
NordVPN-Personal
NuGet-CommandLine
PowerShell-Profile
Slack-Personal
Spotify-Personal
TeamViewer-Personal
WinDirStat
Windows-IIS-Personal
XYPlorer-Personal
Zoom